Tutorial : 2 - Explore Pandas library to analyze  and manipulate data.
Description: Use Pandas library for data analysis and manipulation.

Dataset: Sample CSV file

Task: Load the dataset, perform data cleaning, manipulation (like sorting, filtering), and exploratory data analysis.

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\abc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abc\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\abc\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.0 MB 2.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/11.0 MB 2.6 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.0 MB 1.9 MB/s eta 0:00:06
   ------ --------------------------------- 1.8/11.0 MB 1.6 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/11.0 MB 1.7 MB/s eta 0:00:06
   -------- ------------------------------- 2.4/11.0 MB 1.6 MB/s eta 0:00:06
   -------- ------------------------------- 2.4/11.0 MB 1.6 MB/s eta 0:00:06
   --------- ------------------------------ 2.6/11.0 MB 1.4 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/11.0 MB 1.4 MB/s eta 0:00:06
   ------------ --------------------------- 3.4/11.0 MB 1.4 MB/s eta 0:00:06
   ------------ --------------------------- 3.4/11.0 MB 1.4 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 3.9/11.0 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.2/11.0 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.2/11.0 MB 1.3 MB/s eta 0:00:06
   ----------------- ---------------------- 4.7/11.0 MB 1.3 MB/s eta 0:00:05
   ----------------- ---------------------- 4.7/11.0 MB 1.3 MB/s eta 0:00:05
   ------------------ --------------------- 5.0/11.0 MB 1.2 MB/s eta 0:00:05
   ------------------- -------------------- 5.2/11.0 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.5/11.0 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.8/11.0 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.0 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.0 MB 1.2 MB/s eta 0:00:05
   ----------------------- ---------------- 6.6/11.0 MB 1.2 MB/s eta 0:00:04
   ------------------------ --------------- 6.8/11.0 MB 1.2 MB/s eta 0:00:04
   ------------------------ --------------- 6.8/11.0 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.3/11.0 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 7.6/11.0 MB 1.2 MB/s eta 0:00:03
   --------------------------- ------------ 7.6/11.0 MB 1.2 MB/s eta 0:00:03
   ---------------------------- ----------- 7.9/11.0 MB 1.2 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.0 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.0 MB 1.2 MB/s eta 0:00:03
   ------------------------------- -------- 8.7/11.0 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.0 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 1.2 MB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 1.2 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Pandas 

- pandas is an open-source library for real world data analysis in python .It is built on top of Numpy.
- using pandas , data can be cleaned , transformed , manipulated , and analyzed. 
- the basic data structures of pandas are series and dataframe
  1. series object series is one dimentional labeled array .
    it supports different data types like integer , float , double etc
  2. DataFrame in pandas is a two-dimentional , tabular data structure similar to a spreadsheet or SQL table. 

it consists of row and column .

In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([1, 3, 5, 7, 9])
s1

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [4]:
s2 = pd.Series([10, 20, 30, 40, 50],index=['a', 'b', 'c', 'd', 'e'])
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
s1.values

array([1, 3, 5, 7, 9])

In [6]:
s2.values

array([10, 20, 30, 40, 50])

In [7]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
#Create DataFrame from list of Dict.

data = [{'Name':'Subodh','Marks':28},
        {'Name':'Amit','Marks':35},
        {'Name':'John','Marks':30},
        {'Name':'Rahul','Marks':32}]
f1=pd.DataFrame(data)
f1

     Name  Marks
0  Subodh     28
1    Amit     35
2    John     30
3   Rahul     32

In [10]:
data

[{'Name': 'Subodh', 'Marks': 28},
 {'Name': 'Amit', 'Marks': 35},
 {'Name': 'John', 'Marks': 30},
 {'Name': 'Rahul', 'Marks': 32}]

In [12]:
print(f1)

     Name  Marks
0  Subodh     28
1    Amit     35
2    John     30
3   Rahul     32

In [13]:
type(f1)

pandas.core.frame.DataFrame

In [14]:
type(data)

list

In [3]:
data = pd.read_excel('Book3.xlsx')
data

NameError: name 'pd' is not defined

In [17]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\abc\appdata\local\programs\python\python313\lib\site-packages (24.3.1)
Collecting pip
  Downloading pip-25.3-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-25.3-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ----------- ---------------------------- 0.5/1.8 MB 1.9 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.8 MB 1.6 MB/s eta 0:00:01
   ----------------------- ---------------- 1.0/1.8 MB 1.7 MB/s eta 0:00:01
   ----------------------------- ---------- 1.3/1.8 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 1.6/1.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 1.3 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.3.1
    Uninstalling pip-24.3.1:
      Successfully uninstalled pip-24.3.1
Successfully installed pip-25.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
data = pd.read_excel('Book3.xlsx')
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Name,Branch,Division
6,NaN,NaN,NaN,NaN,NaN,NaN,John,CE,B
7,NaN,NaN,NaN,NaN,NaN,NaN,Priya,IT,A
8,NaN,NaN,NaN,NaN,NaN,NaN,Himani,CE,B
9,NaN,NaN,NaN,NaN,NaN,NaN,Alex,IT,C
10,NaN,NaN,NaN,NaN,NaN,NaN,Supriya,CE,A

In [7]:
Iris = pd.read_csv('Iris.csv')
Iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
Iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
Iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
Iris.index

RangeIndex(start=0, stop=150, step=1)

In [12]:
Iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [14]:
Iris.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [15]:
cat = Iris['Species'].unique()

In [16]:
cat

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [17]:
Iris.replace("Iris-setosa","setosa",inplace=True)

In [18]:
Iris.replace("Iris-versicolor","versicolor",inplace=True)

In [19]:
Iris.replace("Iris-virginica","virginica",inplace=True)

In [21]:
cat = Iris['Species'].unique()

In [22]:
cat

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [23]:
Iris

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
0      1            5.1           3.5            1.4           0.2     setosa
1      2            4.9           3.0            1.4           0.2     setosa
2      3            4.7           3.2            1.3           0.2     setosa
3      4            4.6           3.1            1.5           0.2     setosa
4      5            5.0           3.6            1.4           0.2     setosa
..   ...            ...           ...            ...           ...        ...
145  146            6.7           3.0            5.2           2.3  virginica
146  147            6.3           2.5            5.0           1.9  virginica
147  148            6.5           3.0            5.2           2.0  virginica
148  149            6.2           3.4            5.4           2.3  virginica
149  150            5.9           3.0            5.1           1.8  virginica

[150 rows x 6 columns]

In [24]:
Iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [28]:
Iris[['SepalLengthCm','SepalWidthCm']].head()

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6